apiVersion: v1
kind: Service
metadata:
  name: task-app
  namespace: task-app
spec:
  selector:
    app: task-app
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  type: ClusterIP
