name: CI - App

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - app/**
      - .github/workflows/ci-app.yaml

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Run unit tests
        working-directory: app
        run: go test ./...

      - name: Build docker image (no push)
        working-directory: app
        run: docker build -t task-app-ci .
